.news-item{
    display:inline-block;
    vertical-align:top;
    width:20%;
    text-align:center;
    background: #fff;
    border:1px solid #333;
    float:left;
  }  
  .sort{
    display:inline-block;
    margin-right:30px;
  }
  p#noresults{
    color:red;
  }